*.iml
.gradle
.idea
/gradle
/build.gradle
/gradlew
/gradlew.bat
/gradle.properties
local
/setting.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/local.properties
.gitignore
/gradle/wrapper/